@import 'mixins'

styles_important()
	for k,v in arguments
		{k} v !important

add_style(obj, args)
	[ea] [{obj}]
		{args}

/*=================================================================*/

// u_col()
// 	for num in (1..12)
// 		add_style('col-'+num+'-12', {'width': 100% * (num / 12)})

// u_col()

// offset = 0.938em
// offset-big = 1.875em

add_style('row', {
	'padding': 1em 0,
	'display': -webkit-box,
	'display': -webkit-flex,
	'display': -ms-flexbox,
	'display': flex,
	'flex-wrap': wrap,
})

add_style('col', {
	'-ms-flex-preferred-size': 0,
	'flex-basis': 0,
	'-webkit-box-flex': 1,
	'-webkit-flex-grow': 1,
	'-ms-flex-positive': 1,
	'-webkit-flex-grow': 1,
	'-moz-flex-grow': 1,
	'-ms-flex-grow': 1,
	'-o-flex-grow': 1,
	'flex-grow': 1,
	'max-width': 100%,
})

add_style('col=one', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 8.333333%,
	'-ms-flex': 0 0 8.333333%,
	'flex': 0 0 8.333333%,
	'max-width': 8.333333%,
	})
add_style('col=two', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 16.666667%,
	'-ms-flex': 0 0 16.666667%,
	'flex': 0 0 16.666667%,
	'max-width': 16.666667%,
	})
add_style('col=three', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 25%,
	'-ms-flex': 0 0 25%,
	'flex': 0 0 25%,
	'max-width': 25%,
	})
add_style('col=four', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 33.333333%,
	'-ms-flex': 0 0 33.333333%,
	'flex': 0 0 33.333333%,
	'max-width': 33.333333%,
	})
add_style('col=five', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 41.666667%,
	'-ms-flex': 0 0 41.666667%,
	'flex': 0 0 41.666667%,
	'max-width': 41.666667%,
	})
add_style('col=six', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 50%,
	'-ms-flex': 0 0 50%,
	'flex': 0 0 50%,
	'max-width': 50%,
	})
add_style('col=seven', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 58.333333%,
	'-ms-flex': 0 0 58.333333%,
	'flex': 0 0 58.333333%,
	'max-width': 58.333333%,
	})
add_style('col=eight', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 66.666667%,
	'-ms-flex': 0 0 66.666667%,
	'flex': 0 0 66.666667%,
	'max-width': 66.666667%,
	})
add_style('col=nine', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 75%,
	'-ms-flex': 0 0 75%,
	'flex': 0 0 75%,
	'max-width': 75%,
	})
add_style('col=ten', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 83.333333%,
	'-ms-flex': 0 0 83.333333%,
	'flex': 0 0 83.333333%,
	'max-width': 83.333333%,
	})
add_style('col=eleven', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 91.666667%,
	'-ms-flex': 0 0 91.666667%,
	'flex': 0 0 91.666667%,
	'max-width': 91.666667%,
	})
add_style('col=twelve', {
	'-webkit-box-flex': 0,
	'-webkit-flex': 0 0 100%,
	'-ms-flex': 0 0 100%,
	'flex': 0 0 100%,
	'max-width': 100%,
})
add_style('row\:h',{
	'display': flex,
	'-webkit-justify-content': space-between,
	'justify-content': space-between,
})
add_style('row\:v',{
	'display': flex,
	'-webkit-justify-content': space-between,
	'justify-content': space-between,
	'flex-direction': column,
	'align-items': center,
})
add_style('row\:h\:c',{
	'display': flex,
	'-webkit-justify-content': space-around,
	'justify-content': space-around,
})
add_style('row\:v\:c',{
	'display': flex,
	'-webkit-justify-content': space-around,
	'justify-content': space-around,
	'flex-direction': column,
	'align-items': center,
})
add_style('d\:n', {'display': none !important})
add_style('d\:b', {'display': block !important})
add_style('d\:f', {'display': flex !important})
add_style('d\:if', {'display': inline-flex !important})
add_style('d\:i', {'display': inline !important})
add_style('d\:ib', {'display': inline-block !important})
add_style('d\:li', {'display': list-item !important})
add_style('d\:ri', {'display': run-in !important})
add_style('d\:cp', {'display': compact !important})
add_style('d\:tb', {'display': table !important})
add_style('d\:ig', {'display': inline-grid !important})
add_style('d\:itb', {'display': inline-table !important})
add_style('d\:tbcp', {'display': table-caption !important})
add_style('d\:tbcl', {'display': table-column !important})
add_style('d\:tbclg', {'display': table-column-group !important})
add_style('d\:tbhg', {'display': table-header-group !important})
add_style('d\:tbfg', {'display': table-footer-group !important})
add_style('d\:tbr', {'display': table-row !important})
add_style('d\:tbrg', {'display': table-row-group !important})
add_style('d\:tbc', {'display': table-cell !important})

add_style('fl\:n', { 'float': none})
add_style('fl\:r', { 'float': right})

add_style('cl\:n', { 'clear': none})
add_style('cl\:l', { 'clear': left})
add_style('cl\:r', { 'clear': right})
add_style('cl\:b', { 'clear': both})

add_style('v\:v', { 'visibility': visible})
add_style('v\:h', { 'visibility': hidden})
add_style('v\:c', { 'visibility': collapse})

add_style('ov\:v', { 'overflow': visible})
add_style('ov\:h', { 'overflow': hidden})
add_style('ov\:s', { 'overflow': scroll})
add_style('ov\:a', { 'overflow': auto})
add_style('ovx\:v', { 'overflow-x': visible})
add_style('ovx\:h', { 'overflow-x': hidden})
add_style('ovx\:s', { 'overflow-x': scroll})
add_style('ovx\:a', { 'overflow-x': auto})
add_style('ovy\:v', { 'overflow-y': visible})
add_style('ovy\:h', { 'overflow-y': hidden})
add_style('ovy\:s', { 'overflow-y': scroll})
add_style('ovy\:a', { 'overflow-y': auto})
add_style('ovs\:a', { 'overflow-style': auto})
add_style('ovs\:s', { 'overflow-style': scrollbar})
add_style('ovs\:p', { 'overflow-style': panner})
add_style('ovs\:m', { 'overflow-style': move})
add_style('ovs\:mq', { 'overflow-style': marquee})

add_style('zm', { 'zoom': 1})
add_style('cp\:a', { 'clip': auto})

add_style('rsz\:n', { 'resize': none})
add_style('rsz\:b', { 'resize': both})
add_style('rsz\:h', { 'resize': horizontal})
add_style('rsz\:v', { 'resize': vertical})

add_style('cur\:a', { 'cursor': auto})
add_style('cur\:d', { 'cursor': default})
add_style('cur\:c', { 'cursor': crosshair})
add_style('cur\:ha', { 'cursor': hand})
add_style('cur\:he', { 'cursor': help})
add_style('cur\:m', { 'cursor': move})
add_style('cur\:t', { 'cursor': text})

add_style('bxz', { 'box-sizing': border-box})
add_style('bxz\:cb', { 'box-sizing': content-box})
add_style('bxz\:bb', { 'box-sizing': border-box})
add_style('bxsh\:n', { 'box-shadow': none})

add_style('fw\:n', { 'font-weight': normal})
add_style('fw\:lr', { 'font-weight': lighter})
add_style('fw\:b', { 'font-weight': bold})
add_style('fw\:br', { 'font-weight': bolder})

add_style('op\#0' , {'opacity': 0})
for x in (1..9)
	add_style('op\#'+x , {'opacity': x / 10})
add_style('op\#10' , {'opacity': 1})


add_style('bgsz\:a', {'background-size': auto})
add_style('bgsz\:ct', {'background-size': contain})
add_style('bgsz\:cv', {'background-size': cover})
add_style('ta', {'text-align': left})
add_style('ta\:l', {'text-align': left})
add_style('ta\:c', {'text-align': center})
add_style('ta\:r', {'text-align': right})
add_style('ta\:j', {'text-align': justify})
add_style('tal\:a', {'text-align-last': auto})
add_style('tal\:l', {'text-align-last': left})
add_style('tal\:c', {'text-align-last': center})
add_style('tal\:r', {'text-align-last': right})

//     [w\:100vw]
//         width 100vw
//     [w\:90vw]
//         width 90vw
//     [w\:80vw]
//         width 80vw
//     [w\:70vw]
//         width 70vw
//     [w\:60vw]
//         width 60vw
//     [w\:50vw]
//         width 50vw
//     [w\:40vw]
//         width 40vw
//     [w\:30vw]
//         width 30vw
//     [w\:20vw]
//         width 20vw
//     [w\:10vw]
//         width 10vw
//     [w\:0vw]
//         width 0vw
//     [w\:100p]
//         width 100%
//     [w\:90p]
//         width 90%
//     [w\:80p]
//         width 80%
//     [w\:70p]
//         width 70%
//     [w\:60p]
//         width 60%
//     [w\:50p]
//         width 50%
//     [w\:40p]
//         width 40%
//     [w\:30p]
//         width 30%
//     [w\:20p]
//         width 20%
//     [w\:10p]
//         width 10%
//     [w\:0p]
//         width 0%
//     [h\:100vh]
//         height 100vh
//     [h\:90vh]
//         height 90vh
//     [h\:80vh]
//         height 80vh
//     [h\:70vh]
//         height 70vh
//     [h\:60vh]
//         height 60vh
//     [h\:50vh]
//         height 50vh
//     [h\:40vh]
//         height 40vh
//     [h\:30vh]
//         height 30vh
//     [h\:20vh]
//         height 20vh
//     [h\:10vh]
//         height 10vh
//     [h\:0vh]
//         height 0vh
//     [h\:100p]
//         height 100%
//     [h\:90p]
//         height 90%
//     [h\:80p]
//         height 80%
//     [h\:70p]
//         height 70%
//     [h\:60p]
//         height 60%
//     [h\:50p]
//         height 50%
//     [h\:40p]
//         height 40%
//     [h\:30p]
//         height 30%
//     [h\:20p]
//         height 20%
//     [h\:10p]
//         height 10%
//     [h\:0p]
//         height 0%
//     [m]
//         margin 1em
//     [m\:big]
//         margin 2em
//     [m\:v]
//         margin 1em 0
//     [m\:h]
//         margin 0 1em
//     [m\:v\:big]
//         margin 2em 0
//     [m\:h\:big]
//         margin 0 2em
//     [m\:v\:a]
//         margin-top auto !important
//         margin-bottom auto !important
//     [m\:h\:a]
//         margin-left auto !important
//         margin-right auto !important
//     [m\:t\:0]
//         margin-top 0
//     [m\:b\:0]
//         margin-bottom 0
//     [m\:l\:0]
//         margin-left 0
//     [m\:r\:0]
//         margin-right 0
//     [m\:t]
//         margin-top 1em
//     [m\:b]
//         margin-bottom 1em
//     [m\:l]
//         margin-left 1em
//     [m\:r]
//         margin-right 1em
//     [m\:t\:big]
//         margin-top 2em
//     [m\:b\:big]
//         margin-bottom 2em
//     [m\:l\:big]
//         margin-left 2em
//     [m\:r\:big]
//         margin-right 2em
//     [m\:0]
//         margin 0
//     [m\:v\:0]
//         margin-top 0
//         margin-bottom 0
//     [m\:h\:0]
//         margin-left 0
//         margin-right 0
//     [m\:a]
//         margin auto
//     [m\:0\:a]
//         margin 0 auto
//     [p]
//         padding 1em
//     [p\:big]
//         padding 2em
//     [p\:v]
//         padding 1em 0
//     [p\:h]
//         padding 0 1em
//     [p\:v\:big]
//         padding 2em 0
//     [p\:h\:big]
//         padding 0 2em
//     [p\:t\:0]
//         padding-top 0
//     [p\:b\:0]
//         padding-bottom 0
//     [p\:l\:0]
//         padding-left 0
//     [p\:r\:0]
//         padding-right 0
//     [p\:t]
//         padding-top 1em
//     [p\:b]
//         padding-bottom 1em
//     [p\:l]
//         padding-left 1em
//     [p\:r]
//         padding-right 1em
//     [p\:t\:big]
//         padding-top 2em
//     [p\:b\:big]
//         padding-bottom 2em
//     [p\:l\:big]
//         padding-left 2em
//     [p\:r\:big]
//         padding-right 2em
//     [p\:0]
//         padding 0
//     [p\:v\:0]
//         padding-top 0
//         padding-bottom 0
//     [p\:h\:0]
//         padding-left 0
//         padding-right 0
//     [p\:0\:a]
//         padding 0 auto
//     [ol\:n]
//         outline none
//     [no-click]
//         pointer-events none
//     [truncate]
//         white-space nowrap
//         overflow hidden
//         text-overflow ellipsis
//     [pos\:s]
//         position static
//     [pos\:r]
//         position relative
//     [pos\:a]
//         position absolute
//     [pos\:f]
//         position fixed
//     [t\:0]
//         top 0
//     [t\:10p]
//         top 10%
//     [t\:20p]
//         top 20%
//     [t\:30p]
//         top 30%
//     [t\:40p]
//         top 40%
//     [t\:50p]
//         top 50%
//     [t\:60p]
//         top 60%
//     [t\:70p]
//         top 70%
//     [t\:80p]
//         top 80%
//     [t\:90p]
//         top 90%
//     [t\:100p]
//         top 100%
//     [t\:1em]
//         top 1em
//     [t\:2em]
//         top 2em
//     [t\:3em]
//         top 3em
//     [t\:4em]
//         top 4em
//     [t\:5em]
//         top 5em
//     [t\:6em]
//         top 6em
//     [t\:7em]
//         top 7em
//     [t\:8em]
//         top 8em
//     [t\:9em]
//         top 9em
//     [t\:10em]
//         top 10em
//     [b\:0]
//         bottom 0
//     [b\:10p]
//         bottom 10%
//     [b\:20p]
//         bottom 20%
//     [b\:30p]
//         bottom 30%
//     [b\:40p]
//         bottom 40%
//     [b\:50p]
//         bottom 50%
//     [b\:60p]
//         bottom 60%
//     [b\:70p]
//         bottom 70%
//     [b\:80p]
//         bottom 80%
//     [b\:90p]
//         bottom 90%
//     [b\:100p]
//         bottom 100%
//     [b\:1em]
//         bottom 1em
//     [b\:2em]
//         bottom 2em
//     [b\:3em]
//         bottom 3em
//     [b\:4em]
//         bottom 4em
//     [b\:5em]
//         bottom 5em
//     [b\:6em]
//         bottom 6em
//     [b\:7em]
//         bottom 7em
//     [b\:8em]
//         bottom 8em
//     [b\:9em]
//         bottom 9em
//     [b\:10em]
//         bottom 10em
//     [l\:0]
//         left 0
//     [l\:10p]
//         left 10%
//     [l\:20p]
//         left 20%
//     [l\:30p]
//         left 30%
//     [l\:40p]
//         left 40%
//     [l\:50p]
//         left 50%
//     [l\:60p]
//         left 60%
//     [l\:70p]
//         left 70%
//     [l\:80p]
//         left 80%
//     [l\:90p]
//         left 90%
//     [l\:100p]
//         left 100%
//     [l\:1em]
//         left 1em
//     [l\:2em]
//         left 2em
//     [l\:3em]
//         left 3em
//     [l\:4em]
//         left 4em
//     [l\:5em]
//         left 5em
//     [l\:6em]
//         left 6em
//     [l\:7em]
//         left 7em
//     [l\:8em]
//         left 8em
//     [l\:9em]
//         left 9em
//     [l\:10em]
//         left 10em
//     [r\:0]
//         right 0
//     [r\:10p]
//         right 10%
//     [r\:20p]
//         right 20%
//     [r\:30p]
//         right 30%
//     [r\:40p]
//         right 40%
//     [r\:50p]
//         right 50%
//     [r\:60p]
//         right 60%
//     [r\:70p]
//         right 70%
//     [r\:80p]
//         right 80%
//     [r\:90p]
//         right 90%
//     [r\:100p]
//         right 100%
//     [r\:1em]
//         right 1em
//     [r\:2em]
//         right 2em
//     [r\:3em]
//         right 3em
//     [r\:4em]
//         right 4em
//     [r\:5em]
//         right 5em
//     [r\:6em]
//         right 6em
//     [r\:7em]
//         right 7em
//     [r\:8em]
//         right 8em
//     [r\:9em]
//         right 9em
//     [r\:10em]
//         right 10em

// [ea] [fl], [ea] [fl\:l]
//     float left

// [ea] [cur],[ea] [cur\:p]
//     cursor pointer

// [ea] [c\#0], [ea] [c\#0\:\:hover]:hover
//     color #000

// [ea] [c\#1], [ea] [c\#1\:\:hover]:hover
//     color #111

// [ea] [c\#2], [ea] [c\#2\:\:hover]:hover
//     color #222

// [ea] [c\#3], [ea] [c\#3\:\:hover]:hover
//     color #333

// [ea] [c\#4], [ea] [c\#4\:\:hover]:hover
//     color #444

// [ea] [c\#5], [ea] [c\#5\:\:hover]:hover
//     color #555

// [ea] [c\#6], [ea] [c\#6\:\:hover]:hover
//     color #666

// [ea] [c\#7], [ea] [c\#7\:\:hover]:hover
//     color #777

// [ea] [c\#8], [ea] [c\#8\:\:hover]:hover
//     color #888

// [ea] [c\#a], [ea] [c\#a\:\:hover]:hover
//     color #aaa

// [ea] [c\#b], [ea] [c\#b\:\:hover]:hover
//     color #bbb

// [ea] [c\#c], [ea] [c\#c\:\:hover]:hover
//     color #ccc

// [ea] [c\#d], [ea] [c\#d\:\:hover]:hover
//     color #ddd

// [ea] [c\#e], [ea] [c\#e\:\:hover]:hover
//     color #eee

// [ea] [c\#f], [ea] [c\#f\:\:hover]:hover
//     color #fff

// [ea] [td\:n], [ea] [td\:n\:\:hover]:hover
//     text-decoration none

// [ea] [td\:u], [ea] [td\:u\:\:hover]:hover
//     text-decoration underline

// [ea] [td\:l], [ea] [td\:l\:\:hover]:hover
//     text-decoration line-through

// [ea] [td\:o], [ea] [td\:o\:\:hover]:hover
//     text-decoration overline

// [ea] [bgc\#0], [ea] [bgc\#0\:\:hover]:hover
//     background-color #000

// [ea] [bgc\#1], [ea] [bgc\#1\:\:hover]:hover
//     background-color #111

// [ea] [bgc\#2], [ea] [bgc\#2\:\:hover]:hover
//     background-color #222

// [ea] [bgc\#3], [ea] [bgc\#3\:\:hover]:hover
//     background-color #333

// [ea] [bgc\#4], [ea] [bgc\#4\:\:hover]:hover
//     background-color #444

// [ea] [bgc\#5], [ea] [bgc\#5\:\:hover]:hover
//     background-color #555

// [ea] [bgc\#6], [ea] [bgc\#6\:\:hover]:hover
//     background-color #666

// [ea] [bgc\#7], [ea] [bgc\#7\:\:hover]:hover
//     background-color #777

// [ea] [bgc\#8], [ea] [bgc\#8\:\:hover]:hover
//     background-color #888

// [ea] [bgc\#a], [ea] [bgc\#a\:\:hover]:hover
//     background-color #aaa

// [ea] [bgc\#b], [ea] [bgc\#b\:\:hover]:hover
//     background-color #bbb

// [ea] [bgc\#c], [ea] [bgc\#c\:\:hover]:hover
//     background-color #ccc

// [ea] [bgc\#d], [ea] [bgc\#d\:\:hover]:hover
//     background-color #ddd

// [ea] [bgc\#e], [ea] [bgc\#e\:\:hover]:hover
//     background-color #eee

// [ea] [bgc\#f], [ea] [bgc\#f\:\:hover]:hover
//     background-color #fff

// [ea] [bgc\#biege], [ea] [bgc\#biege\:\:hover]:hover
//     background-color #f5f5dc